body {
color: #333;
}

a {
color: #007bff;
}

.bg-mf-laranja {
background-color: #f57f17 !important;
}

.bg-mf-verde {
background-color: #0cb695 !important;
}

.color-mf-verde {
color: #0CB695 !important;
}

.color-mf-laranja {
color: #f57f17 !important;
}

.border-top-green {
border-top: solid 5px #0CB695;
}

.border-top-orange {
border-top: solid 5px #f57f17;
}

.btn-outline-orange, .btn-outline-orange:hover {
border: 1px solid #f57f17;
color: #f57f17;
}

.disabled-opacity {
opacity: 0.6;
}

.text-search-header {
position: relative;
top: -3px;
left: 10px;
}

.brand-logo-mf {
background: url('../../assets/images/mf-logo-white.png') no-repeat center;
height: 30px;
width: 80px;
margin: 1rem;
}

.breadcrumb-mf {
padding: 0 0 0.5rem 0 !important;
}

.list-group-mf-border li {
border: none;
}

.list-group-mf-border li:nth-of-type(odd) {
border-right: 1px solid rgba(34, 41, 47, 0.125);
}

.list-group-mf-border li:hover {
background: rgba(200,200,200,0.1) !important;
}

.swiper-wrapper .chip:hover {
opacity: 0.8;
}

.mf-bg-img {
background: url(../../assets/images/bg1.jpg) no-repeat center;
background-size: cover;
z-index: 1;
color: #fff;
}

.mf-bg-img:before {
content: "";
background: rgba(0, 255, 180, 0.75);
background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, rgba(0, 170, 120, 0.75)), to(rgba(19, 56, 106, 0.75)));
background: -o-linear-gradient(top, rgba(0, 170, 120, 0.75) 16%, rgba(19, 56, 106, 0.75) 100%);
background: linear-gradient(180deg, rgba(0, 170, 120, 0.75) 16%, rgba(19, 56, 106, 0.75) 100%);
position: absolute;
z-index: -1;
height: 100%;
width: 100%;
top: 0;
left: 0;
}

.mf-item-list-active {
background-color: #ECEDEF;
}

.mf-item-list a:hover {
background-color: #F8F8F8;
}

.mf-chat .card:before {
width: 0;
height: 0;
content: "";
top: 0;
position: absolute;
border-style: solid;
}

.mf-chat-left .card:before {
left: -10px;
border-width: 0 15px 15px 0;
border-color: transparent #ffffff transparent transparent;
}

.mf-chat-right .card:before {
right: -10px;
border-width: 15px 15px 0 0;
border-color: #DFF7EA transparent transparent transparent;
}

.mf-chat-right .card {
background: #DFF7EA;
}

.mf-chat-left {
padding-right: 10rem;
}

.mf-chat-right {
padding-left: 10rem;
}


@media only screen and (min-width: 768px) {
  .card .show-hover-mf {
    opacity: 0;
    -webkit-transition : all 0.3s;
    transition : all 0.3s;
  }

  .card:hover .show-hover-mf {
    opacity: 1;
  }

  .nav-link-search-wrapper {
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    border: solid 1px rgba(0,0,0,0.1);
    min-width: 300px;
    display: block;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    margin: 0.8rem 0 0 0;
    cursor: text;
  }

  .mobile-mf-bg-img {
    background: #fff;
    color: #333;
  }
  .mobile-mf-bg-img:before {
    background: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .app-content .content-wrapper, .footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .nav-link-search-wrapper {
    padding: 1.4rem 0.5rem 1.35rem;
    display: block;
  }
}

/**** AUTHENTICATION ****/
.bg-authentication {
  background-color : #EFF2F7;
}
.bg-authentication .login-footer {
  padding : 0rem 1.5rem 0.5rem;
}
.bg-authentication .login-footer .footer-btn .btn {
  padding : 0.9rem 1.2rem !important;
  margin : 1rem 1rem 1rem 0rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bg-authentication {
    width : 100%;
  }
}
